.authentication-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
}
.authentication-wrapper .authentication-inner {
  width: 100%;
}
.authentication-wrapper.authentication-1, .authentication-wrapper.authentication-2, .authentication-wrapper.authentication-4 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          margin-top: 10px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          margin-top: 10px !important;

}

.authentication-wrapper.authentication-1 .authentication-inner {
  
  border: 1px solid silver !important;
  max-width: 400px !important;
  padding: 20px;
  border-radius: 3px;
  background: #fff;
}
.authentication-wrapper.authentication-2 .authentication-inner {
  max-width: 380px;
}
input{
  border: 1px solid silver !important;
  padding: 5px !important;
}
.form-control{
  border-radius: 4px !important;
  padding: 20px !important
}
.authentication-wrapper.authentication-3 {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
.authentication-wrapper.authentication-3 .authentication-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
.authentication-wrapper.authentication-4 .authentication-inner {
  max-width: 800px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .authentication-wrapper:after {
    content: '';
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0;
    min-height: inherit;
    width: 0;
    font-size: 0;
  }
}
